<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	class="st-layout ls-top-navbar ls-bottom-footer hide-sidebar sidebar-r2"
	lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Giffian</title>

<link href="../../resources/css/vendor/all.css"
	th:href="@{/resources/css/vendor/all.css}" rel="stylesheet" />

<link href="../../resources/css/app/app.css"
	th:href="@{/resources/css/app/app.css}" rel="stylesheet" />


<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<div class="st-container">

		<div class="navbar navbar-main navbar-primary navbar-fixed-top"
			role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a th:href="@{/login}"> <img
						th:src="@{/resources/image/Giffian.jpg}"
						src="../../resources/image/Giffian.jpg" width="50" height="50"></img></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="main-nav">
					<ul class="nav navbar-nav  navbar-right ">

						<!-- User -->
						<li class="dropdown"><a href="#" class="dropdown-toggle user"
							data-toggle="dropdown"> <img
								th:src="@{/resources/images/people/110/guy-5.jpg}"
								src="../../resources/images/people/110/guy-5.jpg" alt="Bill"
								class="img-circle" width="40" /> Bill <span class="caret"></span>
						</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Profile</a></li>
								<li><a href="#">Logout</a></li>
							</ul></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="st-pusher" id="content">
			<div class="st-content">
				<div class="st-content-inner">
					<div class="container">
						<section id="main-content">
							<section class="wrapper" layout:fragment="content"></section>
						</section>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<strong>Giffian</strong> version-alpha.0.0.1 &copy; Copyright 2015
		</footer>
	</div>
	<script>
		var colors = {
			"danger-color" : "#e74c3c",
			"success-color" : "#81b53e",
			"warning-color" : "#f0ad4e",
			"inverse-color" : "#2c3e50",
			"info-color" : "#2d7cb5",
			"default-color" : "#6e7882",
			"default-light-color" : "#cfd9db",
			"purple-color" : "#9D8AC7",
			"mustard-color" : "#d4d171",
			"lightred-color" : "#e15258",
			"body-bg" : "#f6f6f6"
		};
		var config = {
			theme : "social-3",
			skins : {
				"default" : {
					"primary-color" : "#16ae9f"
				},
				"orange" : {
					"primary-color" : "#e74c3c"
				},
				"blue" : {
					"primary-color" : "#4687ce"
				},
				"purple" : {
					"primary-color" : "#af86b9"
				},
				"brown" : {
					"primary-color" : "#c3a961"
				},
				"default-nav-inverse" : {
					"color-block" : "#242424"
				}
			}
		};
	</script>

	<script src="../../resources/js/vendor/all.js"
		th:src="@{/resources/js/vendor/all.js}"></script>

	<script src="../../js/app/app.js" th:src="@{/resources/js/app/app.js}"></script>



</body>


</html>