<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Giffian</title>

</head>
<body>
	<section layout:fragment="content">
		<div id="page-wrapper">
			<div class="timeline row" data-toggle="isotope">
				<div th:each="dummyFeed : ${dummyFeedList}"
					class=" col-sm-8 col-xs-12 col-md-8 col-lg-4 item">
					<div class="timeline-block">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="media">
									<div class="media-left">
										<a href="#"> <img
											th:src="@{/resources/images/people/50/guy-5.jpg}"
											src="../../resources/images/people/50/guy-5.jpg"
											class="media-object" />
										</a>
									</div>
									<div class="media-body">
										<a href="#" class="pull-right text-muted"><i
											class="icon-reply-all-fill fa fa-2x "></i></a> <a href="#"><b>Michelle</b>
										</a>
										<p>
											<a th:href="${dummyFeed.url}"><i
												th:text="${#dates.format(dummyFeed.postTime,'dd-MMM-yyyy HH:mm')}"></i></a>
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div
									class=" col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-12 item">
									<img height="150px" class="img-responsive"
										th:src="${dummyFeed.url}" />
								</div>
							</div>
							<div class="view-all-comments">
								<a href="#"> <i class="fa fa-comments-o"></i> View all
								</a> <span>1 comment</span>

							</div>
							<ul class="comments">
								<li class="media">
									<div class="media-left">
										<a href="#"> <img
											th:src="@{/resources/images/people/50/guy-5.jpg}"
											src="../../resources/images/people/50/guy-5.jpg"
											class="media-object" />
										</a>
									</div>
									<div class="media-body">
										<div class="pull-right dropdown" data-show-hover="li">
											<a href="#" data-toggle="dropdown" class="toggle-button">
												<i class="fa fa-pencil"></i>
											</a>
											<ul class="dropdown-menu" role="menu">
												<li><a href="#">Edit</a></li>
												<li><a href="#">Delete</a></li>
											</ul>
										</div>
										<a href="#" class="comment-author pull-left">Bill D.</a> <span>Hi
											Mary, Nice Party</span>
										<div class="comment-date"></div>
									</div>
								</li>
								<li class="comment-form">
									<div class="input-group">

										<span class="input-group-btn"> <a href="#"
											class="btn btn-default"><i class="fa fa-photo"></i></a>
										</span> <input type="text" class="form-control" />

									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>